ADF/Our-CopyPosts.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"ls_db_project_ml":{"type":"string"},"ls_my_blob":{"type":"string"},"ls_wcd_blob":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Our-CopyPosts')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"description":"Copy posts files every day","activities":[{"name":"Copy Posts","description":"Copy Posts files","type":"Copy","dependsOn":[{"activity":"Delete Posts","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.parquet","enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_posts","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_lparquet_posts_myblob","type":"DatasetReference","parameters":{}}]},{"name":"ML Analysis","description":"Run ML model  notebook on Posts file","type":"DatabricksNotebook","dependsOn":[{"activity":"If Posts is failed","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/1708503@stu.kau.edu.sa/ML Sentiment Analysis"},"linkedServiceName":{"referenceName":"[parameters('ls_db_project_ml')]","type":"LinkedServiceReference"}},{"name":"Delete Posts","description":"Delete posts from posts folder in container","type":"Delete","dependsOn":[{"activity":"ForEach","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_lparquet_posts_myblob","type":"DatasetReference","parameters":{}},"logStorageSettings":{"linkedServiceName":{"referenceName":"[parameters('ls_my_blob')]","type":"LinkedServiceReference","parameters":{"ls_prm_service_endpoint":"https://c2bdproject.blob.core.windows.net/"}},"path":"bd-project/Landing/Logs"},"enableLogging":true,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"ForEach","description":"For each file in the metadata, copy it to the archive file","type":"ForEach","dependsOn":[{"activity":"Get Metadata Post","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata Post').output.childItems","type":"Expression"},"activities":[{"name":"Posts to archive","description":"Move Posts files to archive files","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.parquet","enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_lparquet_posts_myblob","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_archive_Posts","type":"DatasetReference","parameters":{}}]}]}},{"name":"Get Metadata Post","description":"Get metadata from the posts file","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"ds_lparquet_posts_myblob","type":"DatasetReference","parameters":{}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}}},{"name":"If Posts is failed","description":"Add this in case posts data from wcd blob storeg had problems so we can copy data from archive ","type":"IfCondition","dependsOn":[{"activity":"Copy Posts","dependencyConditions":["Completed"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(activity('Copy Posts').status, 'Failed')","type":"Expression"},"ifTrueActivities":[{"name":"Copy data Posts","description":"Copy Posts data from archive in WCD blob storage","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.parquet","enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ds_posts_archive","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ds_lparquet_posts_myblob","type":"DatasetReference","parameters":{}}]}]}}],"policy":{"elapsedTimeMetric":{}},"folder":{"name":"bd-project-pipelines"},"annotations":[],"lastPublishTime":"2024-05-23T11:49:30Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ds_posts')]","[concat(variables('factoryId'), '/datasets/ds_lparquet_posts_myblob')]","[concat(variables('factoryId'), '/datasets/ds_archive_Posts')]","[concat(variables('factoryId'), '/datasets/ds_posts_archive')]"]},{"name":"[concat(parameters('factoryName'), '/ds_posts')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"description":"Dataset represent the Posts parquet files on WeCloudData's storage blob","linkedServiceName":{"referenceName":"[parameters('ls_wcd_blob')]","type":"LinkedServiceReference"},"folder":{"name":"bd-project-datasets"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"Posts_today","container":"de-project-st"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_lparquet_posts_myblob')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"description":"Dataset represent the Posts parquet files copied from WeCloudData's storage blob and loaded into my blob storage","linkedServiceName":{"referenceName":"[parameters('ls_my_blob')]","type":"LinkedServiceReference","parameters":{"ls_prm_service_endpoint":"https://c2bdproject.blob.core.windows.net/"}},"folder":{"name":"bd-project-datasets"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"Landing/Posts","container":"bd-project"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_archive_Posts')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('ls_my_blob')]","type":"LinkedServiceReference","parameters":{"ls_prm_service_endpoint":"https://c2bdproject.blob.core.windows.net/"}},"folder":{"name":"bd-project-datasets"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":{"value":"@concat('/Landing/Archive/',formatDateTime(utcNow(), 'yyyy-MM'),'/',formatDateTime(utcNow(), 'ddTHH:mm:ss'))","type":"Expression"},"container":"bd-project"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ds_posts_archive')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"description":"Dataset represent the Posts parquet files on WeCloudData's storage blob","linkedServiceName":{"referenceName":"[parameters('ls_wcd_blob')]","type":"LinkedServiceReference"},"folder":{"name":"bd-project-datasets"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":"archive","container":"de-project-st"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}